<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
<ol>
<li><h3><a href="intro.html">intro</a></h3></li>
<li><h3><a href="ch1.html" target="_self">chilhood friends in a rainy day</a></h3></li>
<li><h3><a href="ch2.html" target="_self">change of heart</a></h3></li>
<li><h3><a href="ch3.html" target="_self">my chilhood friend cant be this yangire</a></h3></li>
<li><h3><a href="ch4.html" target="_self">the survival of a 7 YO</a></h3></li>
</ol>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
